.contain--notifications{
    padding-top: 0;
}
#notifications__table{
    box-shadow: 0px 0px 50px #F8F9FC; 
}

.notifications__header{
    background: #F5F6F7;
    color: #8F9CAC;
    font-family: 'Poppins';
    font-size: $m-size;
}